<h2 class="text-center mb-4">検索結果</h2> <!-- 中央揃え、マージン追加 -->

<% if @range == "User" %>
  <div class="profile-wrap">
    <div class="container">
      <ul class="list-group"> <!-- リストグループ -->
        <% @users.each do |user| %>
          <li class="list-group-item d-flex align-items-center mb-3"> <!-- フレックスボックスでアイテムを整列 -->
            <%= link_to image_tag(user.get_profile_image(100, 100), class: "rounded-circle me-3"), user_path(user) %>
            <%= link_to user.name, user_path(user), class: "h5 text-dark" %> <!-- ユーザー名をリンク -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <div class="card-list-container py-5">
    <div class="container">
      <% @posts.each do |post| %>
        <div class="list-group-item mb-4"> <!-- リストアイテム -->
          <%= link_to image_tag(post.get_image, class: "img-fluid mb-2"), post_path(post) %>
          <div class="d-flex align-items-center">
            <div class="me-3">
              <%= link_to image_tag(post.user.get_profile_image(100, 100), class: "rounded-circle"), user_path(post.user) %>
            </div>
            <div>
              <p class="card-text">説明：<%= post.content %></p>
              <span><i class="fa-solid fa-user"></i> By <%= link_to post.user.name, user_path(post.user), class: "text-dark" %> ｜ </span>
              <span><%= link_to "#{post.post_comments.count} コメント", post_path(post.id), class:"text-dark" %></span>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @posts, theme: 'bootstrap-4' %> <!-- Bootstrapスタイルのページネーション -->
    </div>
  </div>
<% end %>
